label { margin-left: 40px; margin-right: 3px; }

textarea { width: 450px; height: 100px; resize: none; }

img { margin-left: 10px; height: 100px; width: 100px; border-radius: 8px; position: relative; left: 25px; }

input[type="file"] { display: none;}
.file1{ border: 1px solid purple; padding: 10px; background: purple; color: #fff;  border-radius: 5px; font-family: Helvetica; font-weight: bold; font-size: 15px; box-shadow: 5px 5px 5px lightgrey; position: relative; top: -40px; }
.file1:hover{ background-color: rgba(128, 0, 128, 0.781);}

table{ margin-left: auto; margin-right: auto; }