label{
    font-family: cambria;
   
}
#div6{
    height:420px;
    background-image:linear-gradient(to right,black,darkgrey);
    background-color:rgb(60,64,67);
    text-align:center;
    border:1px solid black;
    border-radius:10px;
    margin-top:-10px;
    display:flex;
    gap:50px;
} 
.text-footer{
    color:white;
     border-radius:20px;
   border:1px solid white;
     text-align: center;
     padding: 3px 0 ;
      display: flex;
      font-size:15px;
      justify-content: center; 
      background-color:rgb(38,53,72);
      margin-top:-50px;
      height:150px;
}
div{border-radius:10px;}img{border-radius:10px;border:1px solid white;}#li15{left-width:15px;margin-top:-35px;}.topnav {overflow: hidden; background-color:rgb(38,53,72);margin-right:-8px;margin-left:-8px;margin-top:-25px;height: 40px;}a.split {float:left; color: white;margin-left:500px;}.logout56 {transform:scale(1.10); height: 35px; width: 35px; position: relative; top: -12px;}.d1{display:flex;gap:330px;background-color:rgb(32,33,36);height:50px;}.d2{background-image:linear-gradient(to right,brown,white);}ul{
    list-style-type:none;
    top:0;left:0;right:0;height:25px;display:flex;align-items:center;
}
#div25i,#div25ii,#div25iii,#div25iv,#div25v{display:flex;gap:0px;}.topnav{border-radius:0px;}font{color:white;}#div59{gap:25px}#div25{display:flex;gap:25px}ul*{display:inline;}ul li a{color:black;text-decoration:none;}li{padding:25px;}#dd1{}ul li a:hover img{transform:scale(1.15);box-shadow:0 0 10px rgba(0,0,0,0.5);}.div11A{display:none;}.slide{animation-name:slide;animation:1.5s;}#imgx{width:99%;height:95.4%; margin-left:5px;margin-top:-27px; vertical-align:middle;}@keyframes slide{from {opacity:.4} to {opacity: 1}}